*{margin:0;padding:0;}
/* ###### Browser-specific Styles ###### */

/* For IE & Mozilla-based browsers: */

.LHS {
  margin-left: 10px;
  float: left;
  clear: left;
}

.RHS {
  margin-right: 2.5mm;
  float: right;
  clear: right;
}

body {
	color: black;
	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	font-size: 76%;
	margin: 0;
	background-color: #000;
	background-repeat: repeat;
	background-attachment: fixed;
	text-align:center;
	background-image: url(../images/patternIllumNewGsmall2.gif);
}

h1, h2, h3 {
	font-family: verdana, tahoma, sans-serif;
}

/* ###### content ###### */

#content { 
	width: 810px;
	text-align:left;
	margin-right: auto;
	margin-left: auto; 
	background-color: white;
}

img {
  border: none;
}

q {
  font-family: tahoma, verdana, helvetica, arial, sans-serif;
  font-weight: bold;
  border-style: dotted;
  border-width: 2px;
  margin: 0 1em 1ex 1em;
  padding: 0.5ex 0.5ex 0.5ex 1ex;
  width: 9em;
  float: left;
}

acronym {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  cursor: help;
}

code {
  font-family: "lucida console", monospace;
  font-size: 90%;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 1.5em;
}

/* ###### Body Text ###### */

#bodyText {
  text-align: justify;
  line-height: 1.5em;
  margin: 0 0 0 220px;
  padding: 0;
  width: 570px;
}

#bodyText p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 3ex;
  font-size: 1em;
}

#bodyText h1 {
  font-weight: bold;
  font-size: 150%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 0.5ex;
}

#bodyText h2 {
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
  font-weight: bold;
  font-size: 1.3em;
}


#bodyText a {
	text-decoration: none;
	border-bottom: none;
}

#bodyText a:hover {

	border-bottom-style: solid;
	border-bottom-width: 1px;
}


#bodyText ol li{
    padding-bottom: 10px;
	padding-left: 0;
	margin-left: 0;
}

#bodyText .topOfPage {
  font-size: 90%;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration: none;
  border: none;
  padding-left: 1ex;
  padding-right: 1ex;
  float: right;
}

.smallCaps {
  font-variant: small-caps;
}

#bodyText div.quote, #bodyText div.quote {
border-style: solid;
border-width: 5px;        
border-color: black;
padding: 2.5em;
margin: 20px 0;
}

#bodyText blockquote.quote p, #bodyText div.quote blockquote p{
font-size: 1.2em;
line-height: 1.2em;
}

#bodyText div.quote blockquote p {
//font-size: 1.3em;
//margin:1.75em;
padding: 0;
}

#bodyText div.quote p{
	margin-bottom:1em;
	}
	
#bodyText div.quote cite{
	display:block;
	text-align:right;
	}
/* ###### Header ###### */

#header {
	height: 200px;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;

}

#header h1{
	display: none;
	}
	
#titleSpace{
	margin: 130px 0 0 0;
	float:left;
	
}
div#titleSpace span.title{
	font-size: 200%;
	padding: 10px 10px 10px 10px;
	color: #FFFFFF;
	background-color: #000000;
	margin: 0;
	font-weight: normal;
	line-height: 2em;
	letter-spacing: 0.1em
}

p span.title, li span.title {font-weight:700;}
.title a, .title a:hover, .title a:link, .title a:visted{
	text-decoration:none;
	color: #FFFFFF;
}

div.quote blockquote pre {margin-left:-3em;}
/* ###### Nav Menu ###### */



 #menubar ul, nav ul
{
padding: 0;
margin: 0 auto 50px auto;
background-color: #000;
color: White;
width: 100%;
float: left;
text-align:center;
}

 #menubar ul li, nav ul li { 
 display: inline;}
 
.active { 
 font-weight: bold;
 text-transform: uppercase;
 letter-spacing: 1em;
 }

#menubar ul li a, nav ul li a
{
padding: 1em 1em;
background-color: #000;
color: White;
text-decoration: none;
float: left;
}

#menubar ul li a:hover, nav ul li a:hover
{
background-color: #fff;
color: #000;
}




/* ###### Side Box ###### */

.sideBox {
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  width: 180px;
  margin-top: 0;
  margin-bottom: 5mm;
  font-size: .9em;
}

.sideBox div {
  font-weight: bold;
  padding: 0.5ex 0.5em 0.5ex 0.5em;
  font-size: 1.5em;
}

.sideBox a, .sideBox a:hover, .sideBox span {
  color: black;
  text-decoration: none;
  line-height: 1.25em;
  display: block;
  padding: 5px 0.5em 5px 0.75em;
  margin:0;
}

.sideBox ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

.sideBox li {
  margin: 0;
  padding: 0;
}

#thispage:before
{ 
content:"\bb";
}

.sideBox li a:before
{ 
content:"\203a";
}

.sideBox #thispage, 
#thispage {
  font-weight: bold;
}

#bodyText ul li, #bodyText p, #bodyText h1, #bodyText h2, #bodyText h3 {
	margin-bottom: 0.75em;
	width:500px;
}

/* ###### Footer ###### */

#footer {
  padding: 0.75ex 0;
  clear: left;
  font-size: .9em;
  background-color: #000;
  color: #FFF;
}

#footer div {
  line-height: 1.25em;
  text-align: left;
  padding-left: 10mm;
}

#footer a {
  color: #FFF;
    text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.footerRHS {
  float: right;
  clear: both;
  padding-right: 3mm;
  font-size: .76em;
}
 
#manifestoes005 {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
/* ###### General Color Scheme ###### */


.sideBox a:hover, .sideBox .thisPage, #thispage
{ /* Background Color (darker): */  background-color: #eee; }




/* ###### Special Colors ###### */

acronym {
  color: blue;
  border-bottom-color: blue;
}

#bodyText a {
  color: #4080ff;
  border-bottom-color: #4080ff;
}

a.buy{
	color:red !important;
	text-transform:uppercase;
	font-size:90%;
	font-weight:700;}